.container {
    width: 100%;
    height: 4rem;
    border-top: 1.5px solid rgba(0, 84, 230, 0.719);
    border-bottom: 1.5px solid rgba(0, 84, 230, 0.719);
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    font-size: 20px;
}